<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218379717523-4agaq6a05bjfntsdgh92bi7fh2rfng1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218379717523-4agaq6a05bjfntsdgh92bi7fh2rfng1u</string>
	<key>API_KEY</key>
	<string>AIzaSyC7ziPwB3B4XULl9R38koKJOCQnOmUAPIc</string>
	<key>GCM_SENDER_ID</key>
	<string>218379717523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-cubit-5a5dc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-cubit-5a5dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218379717523:ios:7180148c260462790b7666</string>
</dict>
</plist>